<div id="videos">
    <% videos.forEach(function(v) { %>
      <div class="card mb-3">
        <div class="card-body">
          <a href="/videos/<%= v.id %>" class="non-link"><h4 class="card-title "><%= v.title %></h4></a>
          <div class="row">
            <div class="col-4 right">
              <p class="greyText"><%= v.relative_time %></p>
            </div>
            
            <div class="col-auto greyText"><%= v.length %> min</div>
          </div>
          <div class="row greyText">
            <div class="col-2">
              <i class="bi bi-play-circle-fill"></i> <%= v.metrics[0].views %>
            </div>
            <div class="col-2">
              <i class="bi bi-hand-thumbs-up-fill"></i> <%= v.metrics[0].likes %>
            </div>
            <div class="col-2">
              <i class="bi bi-chat-fill"></i> <%= v.metrics[0].comments %>
            </div>
            <div class="col-auto greyText">
              <i class="bi bi-collection-play-fill"> </i><%= v.type %>
            </div>
          </div>
        </div>
      </div>
    <%})%>
  </div>
</div>