<!DOCTYPE html>
<html lang="en">
<head>
  <title>Video Performance tracking</title>
  <%- include("headerMeta"); %>
</head>
<body>
  <%- include("navbar"); %>
  <div class="container">
    <main>
      <div class="row">
        <div class="col-8">
          <div class="sortDiv">
            <div>
              <h1>
                <a
                  class="page-title non-link"
                  href="/videos"
                  >Video List</a
                >
              </h1>
              <div
                class="btn-toolbar mb-3 row"
                role="toolbar"
                aria-label="Toolbar with button groups"
              >
                <!-- <div
                  class="btn-group mr-2 col-auto"
                  role="group"
                  aria-label="Basic example"
                >
                  <button type="button" id="mostRecentBtn" class="btn btn-secondary">
                    Most Recent
                  </button>
                  <button type="button" class="btn btn-secondary">
                    Most Viewd
                  </button>
                  <button type="button" class="btn btn-secondary">
                    Most Liked
                  </button>
                  <button type="button" class="btn btn-secondary">
                    Most Commented
                  </button>
                </div> -->

              </div>
            </div>
          </div>

          <%- include("./components/videoList.ejs") %>

        <div class="col-4">
          <%- include("./components/formCreateVideo.ejs") %>
          <hr/>
          <%- include("./components/recentVideos.ejs", {actions}) %>
        </div>
      </div>
    </main>
  </div>

</body>
</html>