<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Video Performance tracking</title>
    <%- include("headerMeta"); %>
  </head>
  <body>
    <%- include("navbar"); %>
    <div class="container">
      <main>
        <h1><%= v.title %> Details</h1>
        <div class="row">
          <div class="col-4">
            <div>
              <h2>Update Video</h2>
              <form action="/videos/update" method="POST">
                <div>
                  <input
                    name="id"
                    type="hidden"
                    class="form-control"
                    value="<%= v.id %>"
                  />
                </div>
                <div>
                  <input
                    name="created_time"
                    type="hidden"
                    class="form-control"
                    value="<%= v.created_time %>"
                  />
                </div>
                <div class="form-group mb-2">
                  <label class="form-label"
                    >Title:
                    <input
                      required="true"
                      name="title"
                      type="text"
                      class="form-control"
                      value="<%= v.title %>"
                  /></label>
                </div>
                <div class="form-group mb-2">
                  <label class="form-label"
                    >Video Type:
                    <input
                      required="true"
                      name="type"
                      type="text"
                      class="form-control"
                      value="<%= v.type %>"
                  /></label>
                </div>
                <div class="form-group mb-2">
                  <input
                    required="true"
                    name="user_id"
                    type="hidden"
                    class="form-control"
                    value="<%= v.user_id %>"
                  />
                </div>
                <div class="form-group mb-2">
                  <input
                    required="true"
                    name="metrics"
                    type="hidden"
                    class="form-control"
                    value="<%= v.metrics %>"
                  />
                </div>
                <div class="form-group mb-2">
                  <label class="form-label"
                    >Length:
                    <input
                      required="true"
                      name="length"
                      type="text"
                      class="form-control"
                      value="<%= v.length %>"
                  /></label>
                </div>

                <button type="submit" class="btn btn-primary mb-3">Update</button>
              </form>
              <form action="/videos/delete/<%= v.id %>" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>

            <br>

            <div>
              <div class="card mb-3">
                <div class="card-body">
                  <h4 class="card-title ">Metrics</h4></a>
                  <ul class="list-group list-group-flush">
                    <div class="list-group-item">Views: <%= v.metrics[0].views %></div>
                    <div class="list-group-item">Likes: <%= v.metrics[0].likes %></div>
                    <div class="list-group-item">Comments: <%= v.metrics[0].comments %></div>
                    <div class="list-group-item">Created Time: <%= v.metrics[0].relative_time %></div>
                  </ul>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-4">
            <h2>Comments</h2>
            <% if (v.comments.user) { %>

            <ul class="list-group list-group-numbered">
              <% v.comments.forEach(function(c) { %>
              <li
                class="
                  list-group-item
                  d-flex
                  justify-content-between
                  align-items-start
                "
              >
                <div class="ms-2 me-auto">
                  <div class="fw-bold d-flex justify-content-between">
                    <a href="/users/<%= c.user.id %>"><%= c.user.name %></a>
                    <div>
                      <span class="badge bg-primary rounded-pill"><%= c.likes %></span>
                    </div>
                  </div>
                  <%= c.content %>
                </div>
              </li>
              <% }); %>
            </ul>
            <% } else {%>
              <div>No comments</div>
            <% } %>
        </div>
      </main>
    </div>
  </body>
</html>